<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %white(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(Class:%C{1.}) %green(Method:%M)-> %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/Room_backend.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} %-5p [%t] [Class:%C{1.}] [Method:%M] [line:%L] [Msg:%m]%n</Pattern>
            <!--            <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (Class:%F) (Method:%M) (line:%L) - %m%n</Pattern>-->
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/Room/Room_backend-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <!--            <fileNamePattern>${LOGS}/${date:yyyy-MM}/CAMQC_backend-%d{yyyy-MM-dd}.%i.log-->
            <!--            </fileNamePattern>-->
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

</configuration>